<div class="center jumbotron">
<title><%= t ".title"%></title>
<h1><%= t ".head" %></h1>
<h2><%= t ".desk" %></h2>
<h3> <%= link_to t(".homelink"), "#" %></h3>
<%= link_to t("signupnow"), signup_path %></div>
<%= link_to image_tag("rails-logo.png"), "https://rubyonrails.org/" %>
