<%= link_to "English", locale: "en" %>
<%= link_to "Vietnamese", locale: "vi" %>
<!DOCTYPE html>
<html>
  <head>
 	  <title><%= t  ".title"%></title>
  </head>
  <body>
   	<h1><%= t ".head" %></h1>
    <h1><%= t ".desk" %></h1>
    <h1> <%= link_to t(".edes"), "https://www.railstutorial.org/" %></h1>

  </body>
</html>
